{% extends 'base.html.twig' %}

{% block title %}Plats
{% endblock %}

{% block body %}
	<section id="menu" class="menu section-bg">
		<div class:"container-fluid container-xl d-flex align-items-center justify-content-lg-between" style="margin-top:100px">
			<div class="container" data-aos="fade-up">
				<h2>Plats du Jour</h2>
				<div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
					<div class="col-lg-6 menu-item filter-starters">
						<img src="/image/eat.jpg" class="menu-img" alt="">
						<div class="menu-content">
							<a href="#">{{ plat.nomPlats }}</a>
						</div>
						<div class="menu-ingredients">
							{{ plat.description }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="book-a-table" class="book-a-table">
	<div class="container" data-aos="fade-up">

		<div class="col-xs2 col-sm3">
			<h2>Liste de Commentaires</h2>
			{% for comment in plat.comments %}
				{# {{ dump(comment) }} #}
				<h6>Publier par
					{{comment.nom}}
					{{comment.prenom}}
					le
					{{comment.createdAt|date("d/m/y H:i")}}
				</h6>
				<div>
					{{comment.message}}</div>
					<br>
					<h7> <a href="#ajout commentaire" data-reply data-id="{{comment.id}}" class="btn btn-primary">Répondre</a></h7>
			{% endfor %}

		</div>
		<div class="section-tittle" id="ajout commentaire">
			<h2>Merci de commenter le Plat</h2>

			<div class="row">
				{{form_start(commentForm)}}
				<div class="form-group">
					{{form_row(commentForm.Nom)}}
				</div>
				<div class="form-group">
					{{form_row(commentForm.prenom)}}
				</div>
				<div class="form-group">
					{{form_row(commentForm.email)}}
				</div>
				<div class="form-group">
					{{form_row(commentForm.message)}}
				</div>
				{# <div>
					{{form_row(commentForm.note)}}
					<select>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
				</div>  #}
				<br>
				<div class="text-center" data-aos="fade-up" data-aos-delay="100">
					<button type="submit">Commenter</button>
				</div>
				{{form_end(commentForm)}}
			</div>
		</div>
	</div>
</section>
<br>
<a href="{{path('plats_edit', {id: plat.id})}}">
	<button class="btn btn-primary">Modifier</button>
</a>
<a href="{{path('plats_delete', {id: plat.id})}}">
	<button class="btn btn-primary">Supprimer</button>
</a>
<a href="{{path('plats_index')}}">
	<button class="btn btn-primary">Retour liste des plats</button>
</a>{% endblock %}
