{% extends 'base.html.twig' %}

{% block title %}Page d'administration
{% endblock %}
{% block body %}
<section>
<div class:"container-fluid container-xl d-flex align-items-center justify-content-lg-between" style="margin-top:100px;">
		
			<h2>Gerer les Responsables</h2>
      
		 <table class="table" style="color:black; background-color:white">
			<tr>
				<th>Nom</th>
				<th>Prenom</th>
				<th>Adresse</th>
				<th>Telephone</th>
			</tr>
			{% for responsable in responsables %}
				<tr>
					<td>{{responsable.nom}}</td>
					<td>{{responsable.prenom}}</td>
					<td>{{responsable.adresse}}</td>
                    <td>{{responsable.telephone}}</td>
					<td>
                    <a href="{{path('admin_edit', {'id': responsable.id})}}" onclick="return confirm('Etes vous sur de bien vouloir modifier ce Responsable'  )">
							<i class="fas fa-trash"></i>
						</a>
					</td>
				</tr>
			{% endfor %}
		</table>
		
	</div>
</section>
{% endblock %}

